.header {
    background-color: #1F2937;
    display: flex;
    align-content: center;
    height: 50px;
    margin: auto;
    }

.item1 {
font-size: 24px;
color:#F9FaF8;
font-weight: bolder;
text-align: center;
margin: auto 0;
flex: 2 1 0%;
    }

.item2 {
    font-size: 16px;
    color:#E5E7EB;
    text-align: center;
    margin: auto 0 auto 0px;
    flex: 0.5 1 0%;
}

.item3 {
    font-size: 16px;
    color:#E5E7EB;
    text-align: center;
    margin: auto 200px auto 0;
    flex: 0.5 1 0%;
}

.container1 {
    background-color: #1F2937;
    height: 400px;
    color:#F9FaF8;
    display: flex;
    padding-bottom: 50px;
    /*border: 2px solid white;*/
}


.item4 {
    /*border: 2px solid white;*/
    width: 450px;
    height: 200px;
    margin: auto 0 auto auto;  
    }

    .maintext {
        font-size: 48px;
        font-weight: bolder;
        color: #F9FaF8;

    }

.item5 {
    /*border: 2px solid white;*/
    /*background-color: rgba(229, 231, 235, 0.548);*/
    color: black;
    text-align: center;
    width: 450px;
    height: 200px;
    margin: auto auto auto 0;
    }

.img1 {
    border-radius: 50px; 
    width: 90%;
}

.button {
    background-color: #3882f6;
    color: #E5E7EB;
    border-style: none;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
    }

.container2 {
   margin: 10px auto;

}

.information {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    text-align: center;
    margin: 50px auto;
}

.container3 {
    display: flex;
    /*border: 2px solid black;*/
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: auto;
    margin: 20px auto;
    gap: 25px;

}

.item6 {
    justify-content: center;
    text-align: center;
    flex: 1 1 0%;
}

.img {
    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    border-radius: 20px;
}

.text {
    color: #1F2937;
    font-size: 15px;
}

.container4 {
    background-color: #E5E7EB;
    text-align: center;
}

.paragraph {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    width: 800px;
    margin: 0 auto;
    padding-top: 100px;
}

  .autor {
    margin: 0 auto 100px auto;
    padding-bottom: 100px;
    width: 800px;
    text-align: right;


  }